body{
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    color: #66BFBF;
    margin-top: 0;
    position: relative;
    top: 55px;
    font-family: 'Sacramento', cursive;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.sij{
    height: 125px;
    width: 125px;
}
.topcloud{
    position: absolute;
    right: 105px;
    top: 45px;
}
.name{
    position: relative;
    margin: 50px auto 0 auto;
    top: 115px;
    font-size: 5.625rem;
}
.code{
    font-size: 2.5rem;
    position: relative;
    top: 101px;
}
.mountain{position: relative;
    top: 121px;
    height: 346px;
    width: 333px;
}
.bottomcloud{
    position: relative;
    bottom: 171px;
    right: 109px;
}
.topcontainer{
    height: 742px;
    background-color: #eaf6f6;
}
.middlecontainer{
    margin: 100px 0;
}
.pro{
    text-decoration: underline;
}
.skills{
    width: 100%;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
}
.txt{
    text-align: left;
    line-height: 2;
    font-family: sans-serif;
    
}

.img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.img2{
    width: 25%;
    float: right;
    margin-right: 30px;
}
.exo{
    width: 300px;
    margin: 0 auto;
}
.hello{
    font-size: 2rem;
}
.hr1{
    border-style: dotted none none;
    height:  0 0 0;
    width: 50px;
    border-width: thick;
    color: #eaf6f6;
    margin: 100px auto;

}
.myskills{
   font-weight: bold; 
   font-size: 2rem;
}
.tb{
    font-weight: bolder;
}
.kkgg{
    width: 400px;
    margin: 40px auto 60px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.bottom-container{
    background-color: #66BFBF;
    height: 60px;
    margin: 60px 0 0;
}
.footer-link{
    padding: 0 30px;
}
a{
   color: #11999e; 
   text-decoration: none;
}
a:hover{
    color: #eaf6f6;
}
.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
}